<div class="main">
    <div class="left">
      <img src= "https://images.unsplash.com/photo-1591123120675-6f7f1aae0e5b?auto=format&fit=crop&q=80&w=2069&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
      <h2 class="possible" style="color: white;">IT'S POSSIBLE <br> HERE!</h2>
      <p class="what" style="font-size: 1.3rem; color: rgb(215, 212, 212);">Visit us & see What's Possible.</p>
      <button class="visit" style="color: white;">LEARN MORE</button >
    </div>
  </div>
  <div class="main2">
    <div class="bharat">
      <h3><span>D.C.Lewis Memorial School</span></h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, corporis. Nam et tempora eos.</p> 
  </div>
    <div class="imgcont">
      <div class="enroll">
        <img src="https://images.unsplash.com/photo-1427504494785-3a9ca7044f45?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="" height="200px" width="300px">
        
      </div>
      <div class="teach">
        <img src="https://images.unsplash.com/photo-1628332794671-94a476154f22?auto=format&fit=crop&q=80&w=1974&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""  height="200px" width="300px">
        
      </div>
      <div class="support">
        <img src="https://images.unsplash.com/photo-1579208570378-8c970854bc23?auto=format&fit=crop&q=80&w=1844&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""  height="200px" width="300px">
        
      </div>
      <div class="grow">
        <img src="https://images.unsplash.com/photo-1611504261400-bca14f7e0b9c?auto=format&fit=crop&q=80&w=1887&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt=""  height="200px" width="300px">
        
      </div>
    </div>
  </div>
