<div class="container">
    <button type="button" (click)="getstd()">Get Details</button>
    <div class="studentDetails">
        <table border = 1>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Marks</th>
                    <th>Section</th>
                    <th>Gender</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let x of std">
                    <td>{{x.studentID}}</td>
                    <td>{{x.stdName}}</td>
                    <td>{{x.stdMarks}}</td>
                    <td>{{x.stdSection}}</td>
                    <td>{{x.stdsex}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
