button{
    padding: 1vw 1vw;
    background-color: crimson;
    outline: none;
    border: black;
    font-size: 20px;
    margin-left: 6vw;
}
h3{
    margin-left: 6vw;
    margin-bottom: 20px;
}
table{
    border: 2px solid crimson;
    height: 90vw;
    width: 90vw;
    margin-left: 6vw;
}


th{
    margin-top: 3vw;
    padding: 1.2vw
}

td{
    padding: 1.2vw;
}
