


<header>

  <nav >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEU3N1wVn2wH_gkyj6yIdaXsE6lGaCU_2gVyQ_8phYVDJm8czLqmf45La0bWp9f1PB5ck&usqp=CAU" alt="" height="60px" width="100px">
      <ul>
          <li> <a [routerLink]="'/header'">Home</a></li>
          <li> <a [routerLink]="['/teacher-det']">Teacher Details</a></li>
          <li> <a [routerLink] ="['/std-details']">Student Details</a></li>
          <li> <a [routerLink] ="['/contactus']">Contact Us</a></li>
      </ul>
  </nav>
</header>
 <router-outlet></router-outlet>
<footer class="footer">
  <div class="row">
    <div class="school"><h3>D.C.Lewis Memorial School (GEMS)</h3> <p>Renukoot</p><p>Uttar Pradesh</p></div>
    <div class="info"><p>1233434798</p> <p>studifon +918978687</p> <p>infoemail.com</p></div>
    <div class="button" style="color: white;" ><button>Contact & service</button></div>
  </div>
<hr>
<div class="bottom">
  <div class="logo"> 
    <i class="fa-brands fa-instagram"></i> 
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-youtube"></i>
  </div>
  <div class="links">
    <h3><a href="#">School</a></h3>
    <h3><a href="#"> Class Room</a></h3>
    <h3><a href="#">Labs</a></h3>
  </div>
  <div class="foto">
    <img src="https://play-lh.googleusercontent.com/MJkFJV8SFrju1xoJqRmg7rxA0SKwNUvVTDpoOR67uyLErO20TTQUwnGScFWstVWFT8A=w600-h300-pc0xffffff-pd" alt="" height="100px" width="200px">
  </div>
</div>
</footer>
