table{
    width: 90vw;
    height: 90vh;
    // border: 2px solid crimson;
    margin-left: 4vw;
}
th{
    padding: 1.2vw;

    border: 1px solid crimson;
}

td{
    padding: 1.2vw;
    border: 1px solid crimson;
}

button{
    margin-left: 4vw;
    padding: 1vw 2vw;
    border: black;
    background: crimson;
}