<form #infoForm="ngForm" (ngSubmit)="onsubmit(infoForm)">
    <h4>Contact Us</h4>
    <p>
        <label for="Name">Full Name</label> <br>
        <input type="text" placeholder="Full Name" name="Name" ngModel required> 
    </p>
    <p>
        <label for="Email">Email</label> <br>
        <input type="Email" placeholder="Email" name="email" ngModel required>
    </p>
    <p>
        <label for="Number">Phone Number</label> <br>
        <input type="number" placeholder="+91 120 1220 100" name="Number" ngModel required>
    </p>
    <p class="area">
        <label for="Query">Your Query</label> <br>
        <textarea name="" id="" cols="30" rows="10" name ="Query" ngModel required></textarea>    
    </p>
    <button type="submit" style="color: white;">Submit</button>
</form>